*{
    margin: 0px;
}
header {
    background-color: #fff8f3;
}

.button-all {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    border-radius: 0px;
    background: #e55473;
    border: 0;
    padding: 20px 40px;
    border-radius: 5px;

}

.banner {
    padding: 50px 50px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    width: 635px;
    height: 700px;
}

.banner-heading {
    font-size: 80px;
    font-weight: 800;
    flood-color: #272727;
    margin-bottom: 20px;
    width: 700px;
}

.banner-about {}

.banner-contant {
    max-width: 500px;
}

.text-primary {
    color: #e55473;
}

.banner2 {
    padding: 50px 50px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-heading2 {
    font-size: 35px;
    font-weight: 800;
    flood-color: #272727;
    margin-bottom: 20px;

}

.banner2 {
    background-color: #fff8f3;
    margin: 200px 0px;
}

.banner-contant2 {
    max-width: 500px;
    align-items: left;
}

.banner-about2 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner2 .button-all {
    margin: 20px 160px;
}

.sec-desc {
    padding: 0px 540px;
    text-align: center;
}

.sec-title {
    padding: 100px 0px 0px 0px;
    font-size: 35px;
    font-weight: 800;
    flood-color: #272727;
    margin-bottom: 20px;
    text-align: center;
}
.item-container{
    display: flex;
    /* padding: 10px 20px 10px 270px ; */
    padding: 0px 0px 0px 150px ;
}
.item-container .item1{
    background: #f0b8c3;
    margin: 20px 0px 0px 160px;
    padding: 80px 50px 0px 50px ;
    border-radius: 300px 300px 0px 0px ;
}
.item-container .item2{
    background: #a29ae7;
    margin: 20px;
    padding: 140px 30px 0px 30px ;
    border-radius: 300px 300px 0px 0px ;
}
.item-container .item3{
    background: #afebcd;
    margin: 20px;
    padding: 40px 50px 0px 50px ;
    border-radius: 300px 300px 0px 0px ;
}
.item-description{
    text-align: center;
    font-size: 20px;
    
}

/* 2nd item shop flowers */

.item-container2 .item1-shop{
    margin: 50px 20px 0px 150px ; 
    
}
.item-container2 .item2-shop{
    margin: 45px 20px 0px 0px ;
}
.item-container2 .item3-shop{
    margin: 45px 20px 0px 0px ; 
}
.item-container2 .item4-shop{
    margin: 45px 20px 0px 0px ; 
}
.sec-title2 {
    padding: 0px 0px 0px 820px;
    font-size: 35px;
    font-weight: 800;
    flood-color: #272727;
    margin-bottom: 20px;
}
.item-container2{
    display: flex;
    padding: 0px 0px 0px 100px;
  
}


/* Footer part  */


    



.footer-heading {
    font-size: 35px;
    font-weight: 800;
    flood-color: #272727;
   

}
.banner-about3 {
    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #f7f7f7 ;
}
.banner3 {
    background-color: #111010;
    margin: 240px 0px 0px 0px;
    padding: 80px;
   
    height: 200px;

}

.banner-heading3 {
    font-size: 35px;
    font-weight: 800;
   text-align: center;
    margin-bottom: 0px;
    color: #f7f7f7;
}
.copy-right{
    color: #9b8a8a ;
    margin: 70px 0px 0px 0px ;
    text-align: center;
}
.footer-description{
    color: #f7f7f7; 
    font-size: 18px;
    margin: 0px;
    padding: 20px 500px 0px 500px;
text-align: center;


   
}

   


.back{
   
    background-position: center;
    background-size: 70%;
    height: 400px;
    background-repeat: no-repeat;
   background-image: url('./images/Rectangle\ 9.png');
   margin: 100px 0px 0px 50px;
}
.last-heading-sub{
    /* padding: 100px 0px 0px 600px; */
    font-size: 35px;
    padding: 90px 0px 0px 0px ;
    font-weight: 800;
    flood-color: #272727;
    margin-bottom: 20px;
    text-align: center;

    
}
.sml-letter{
    text-align: center;

}

.button-all1 {
    font-size: 20px;
    color: #fff;
    size: 20px;
    border-radius: 8px;
    background: #e55473;
    border: 0;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px;
    
    

}
input{
    padding: 15px 400px 15px 5px ;
    margin: 30px 0px 0px 600px ; */
    border: none;
    text-align: center;

    
}